# Project Folders
results
results/*
!results/README.md

resources
resources/*
!resources/README.md

# Workflow Artifacts
.snakemake/

# C Artifacts
*.so
*.o

# Editor Artifacts
~.*
[._]*.s[a-v][a-z]
.vscode/
.idea/
*.sublime-project

# Python Artifacts
__pycache__/
*.egg-info/
*.py[cod]
.ipynb_checkpoints
.mypy_cache/

# R Artifacts
.Rhistory
.RData
.Rproj.user/
*_cache/
/cache/
